<!doctype html>
<html>
<head>
<title>WEB1 - Welcome</title>
<meta charset="utf-8">
<script type="text/javascript" src="static/js/colors.js"></script>
</head>
<body>
	<h1><a>WEB</a></h1>	
	<input type='button' value="night" onclick="nightDayHandler(this)">
	<ol id='nav'></ol>
	<article></article>
	<script>
		function callFetch(target) {
			fetch('/' + target + '/').then(function(response) {
				response.json().then(function(data) {
					let article = document.querySelector('article')
					article.innerHTML = '';
					for(key in data) {
						article.innerHTML += data[key];
					}
					console.log(article.innerHTML);
				})
			});
		}

		fetch('/list/').then(function(response) {
			response.json().then(function(data) {
				let _list_data = data['list']
				console.log(_list_data)
				let list_data = ''
				for(let i = 0; i < _list_data.length; i++) {
					list_data += "<li><a onclick=\"callFetch('" + _list_data[i]  + "');\">" + _list_data[i] + "</a></li>" 
				}
				document.getElementById('nav').innerHTML = list_data
			})
		})
	</script>
</body>
</html>
