<!doctype html>
<html>
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/login/find_password.css') }}">	
		<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	</head>
	<body>
		<h1>비밀번호를 찾고자하는 이메일주소를 입력해주세요.</h1>
		<form id='form' action={{ url_for('login.find_password') }} method="POST">
			<input type="email" placeholder="이메일" id="email" name="email">
			<button type="button" id="button">다음</button>
		</form>
		<script>
			$('#button').click(function(event) {
				let form = $('#form');
				let email = $('#email').val();
				if(email === '') {
					alert('이메일을 정확하게 입력해 주세요');
				} else {
					form.submit();		
				}
			});	
		</script>
	</body>
</html>
