<!doctype html>
<html>
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/account/manage_my_account.css') }}">
		<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	</head>
	<body>
		<h1>계정관리</h1>
		<h3>이름: {{ session['user'].name }}</h3>
		<h3>이메일: {{ session['user'].email }}</h3>
		<h3>비밀번호: {{ session['user'].password }}</h3>
	</body>
</html>
